[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xebia-email-signature = {editable = true, path = "."}

[dev-packages]
build = "*"
boto3 = "*"
botocore-stubber-recorder = "*"
jsonschema = "*"
aws-cfn-update = "*"

[requires]
python_version = "3.10"
