<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body style="font-size: 11pt; font-family: Arial, sans-serif; ">
  <table summary="contact details">
    <tr style="line-height: 1">
      <td style="padding-right: 10px">
        <img width="75" height="70" alt="Xebia logo bulb"
          src="{{ url_for('static', _external=True, filename='xebia-bulb.png') }}" />
      </td>
      <td colspan="2" style="
              vertical-align: top;
              border-left: 1px solid #6c1d5f;
              padding-left: 12px;
            ">
        <table style="border-collapse: collapse;">
          <tr>
            <td style="padding: 0;">
              <a href="{{'mailto:' ~ data['email']}}" style="
                        font-family: Arial;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 14px;
                        text-decoration: none;
                        color: #6c1d5f;

                        margin-top: 0;
                        margin-bottom: 2px;
                      ">
                <span style="text-decoration: none; color: #6c1d5f;">
                  {{ data['full_name'] | e }}
                </span>
              </a>
            </td>
            {% if 'social_media' in data and data['social_media'] %}
            <td style="color: #dddddd; font-size: 12px; font-weight: 200; padding: 0 4px;">
              |
            </td>
            {% for media in data['social_media'] %}
            {% if media %}
            <td>
              <a href="{{ media['link'] }}" style="text-decoration: none; ">
                {% if media['icon'] == 'linkedin' %}
                <img width="12" height="12"
                  src="{{ url_for('static', _external=True, filename='email-logo-li.png') }}" />
                {% endif %}
                {% if media['icon'] == 'x' %}
                <img width="12" height="12"
                  src="{{ url_for('static', _external=True, filename='email-logo-x.png') }}" />
                {% endif %}
              </a>
            </td>
            {% endif %}
            {% endfor %}
            {% endif %}
          </tr>
        </table>
        <p style="
                color: #5a5a5a;
                font-family: Arial;
                font-size: 10px;
                line-height: 12px;
                font-style: normal;
                margin-top: 0;
                margin-bottom: 2px;
              ">
          <span style="font-weight: 700">
            {{ data["job_role"] | e }}
          </span>
          <br />
          {% if 'unit' in data and data['unit'] %}
          {{data['unit'] | e}}
          <br>
          {% endif %}
          {% if 'formatted_phone' in data and data['formatted_phone'] %}
          {{ data["formatted_phone"] | e}}
          <br>
          {% endif %}
        </p>
        <p style="
                color: #6c1d5f;
                font-family: Arial;
                font-size: 10px;
                line-height: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 0;
                margin-bottom: 2px;
              ">
          Find Xebia on:
        </p>
        <p style="
                font-size: 10px;
                line-height: 12px;
                line-height: normal;
                margin-top: 0;
                margin-bottom: 2px;
                text-decoration: none;
              ">
          <a href="https://xebia.com/" title="Website" style="text-decoration: none;">
            <img border="0" width="10" height="10" id="Website"
              src="{{ url_for('static', _external=True, filename='email-logo-web.png') }}" alt="Website"
              name="Website" /></a>
          <a href="https://www.linkedin.com/company/xebia" title="Linkedin" style="text-decoration: none;"><img
              border="0" width="10" height="10" id="Linkedin"
              src="{{ url_for('static', _external=True, filename='email-logo-li.png') }}" alt="Linkedin"
              name="Linkedin" /></a>
          <a href="https://x.com/xebia" title="X" style="text-decoration: none;"><img border="0" width="10" height="10"
              id="X" src="{{ url_for('static', _external=True, filename='email-logo-x.png') }}" alt="X" name="X" /></a>
          <a href="https://www.youtube.com/@XebiaNL" title="YouTube" style="text-decoration: none;"><img border="0"
              width="10" height="10" id="YouTube"
              src="{{ url_for('static', _external=True, filename='email-logo-yt.png') }}" alt="YouTube"
              name="YouTube" /></a>
        </p>
        <span style="
                font-family: Arial;
                font-size: 8px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%; /* 7px */
                color: #5a5a5a;
                margin: 0;
              ">
          {% for call in data['call_to_action'] %}
          {% if call %}
          {% if call['icon'] == 'blog' %}
          <img width="10" height="9"
            src="{{ url_for('static', _external=True, filename='email-cta-icon-blog.png') }}" />
          {% endif %}
          {% if call['icon'] == 'meeting' %}
          <img width="10" height="9"
            src="{{ url_for('static', _external=True, filename='email-cta-icon-meeting.png') }}" />
          {% endif %}
          {% if call['icon'] == 'event' %}
          <img width="10" height="9"
            src="{{ url_for('static', _external=True, filename='email-cta-icon-event.png') }}" />
          {% endif %}
          {% if call['icon'] == 'award' %}
          <img width="10" height="9"
            src="{{ url_for('static', _external=True, filename='email-cta-icon-award.png') }}" />
          {% endif %}
          <a href="{{call['link']}}" style="text-decoration: none; color: #5a5a5a;">
            <span style="text-decoration: none; color: #6c1d5f;">
              {{call['desc']}}
            </span>
          </a>
          <br />
          {% endif %}
          {% endfor %}
        </span>
      </td>
    </tr>
  </table>
</body>

</html>