<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon.png"
    />
    <title>Xebia's Email Signature Generator</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js@10.2.0/public/assets/styles/base.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js@10.2.0/public/assets/styles/choices.min.css"
    />
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <main class="main">
      <img class="logo" src="/static/xebia-logo.svg" alt="Xebia logo" />

      <h1 class="site-title">Email Signature Generator</h1>

      <div class="form-container">
        <form
          class="js-form"
          action="/new/signature"
          method="post"
          enctype="multipart/form-data"
          target="preview-iframe"
          onsubmit="handleFormSubmit()"
        >
          <div class="form-group">
            <label for="full_name">Name</label>
            <input
              type="text"
              id="full_name"
              name="full_name"
              placeholder="John Doe"
              onblur="prefillEmail(this.value)"
            />
            <div id="full_name-error" class="error"></div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="john.doe@xebia.com"
              onchange="validateEmail()"
            />
            <div id="email-error" class="error"></div>
          </div>

          <div class="form-group">
            <label for="job_role">Role</label>
            <input
              type="text"
              id="job_role"
              name="job_role"
              placeholder="Senior Designer | Netherlands"
            />
            <div id="job_role-error" class="error"></div>
          </div>

          <div class="form-group">
            <label for="unit"
              >Unit
              <span
                >Optional: If you leave this blank, this field is not going to
                appear</span
              ></label
            >
            <input
              type="text"
              id="unit"
              name="unit"
              placeholder="Software Technology"
            />
            <div id="unit-error" class="error"></div>
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            <input
              type="text"
              id="phone"
              name="phone"
              placeholder="+00 000 000 000"
              onchange="validatePhoneNumber();"
            />
            <div id="phone-error" class="error"></div>
          </div>

          <div>
            <div class="js-form-sm" data-clone-count="0">
              <div class="form-section">
                <div class="form-group select-icon-picker">
                  <label for="sm-0-icon">Icon</label>
                  <select class="js-choice" id="sm-0-icon" name="sm[0][icon]">
                    <option
                      value="linkedin"
                      data-custom-properties="/static/li-logo.png"
                    >
                      LinkedIn
                    </option>
                    <option
                      value="x"
                      data-custom-properties="/static/x-logo.png"
                    >
                      X
                    </option>
                  </select>
                  <div id="sm-icon-error" class="error"></div>
                </div>
                <div class="form-group w-100">
                  <label for="sm-0-link">Link to personal profile</label>
                  <input
                    type="text"
                    id="sm-0-link"
                    name="sm[0][link]"
                    placeholder="https://www.linkedin.com/company/xebia"
                  />
                  <div id="sm-link-error" class="error"></div>
                </div>
                <div class="form-group">
                  <button
                    class="btn btn-primary btn-trash btn-md js-form-clone-remove"
                  >
                    <img
                      width="16"
                      height="18"
                      src="static/icon-btn-trash.svg"
                      alt="Icon trash"
                    />
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button
              class="btn btn-md btn-dawn w-100 text-left font-semibold js-form-clone-btn"
              data-clone-target=".js-form-sm"
            >
              <img src="static/icon-btn-add.svg" alt="Icon add" />
              Add Social Media
            </button>
          </div>

          <div>
            <label for="cta-0-desc">
              Call to action
              <span>By default is generated this placeholder information</span>
            </label>
            <div class="js-form-cta" data-clone-count="0">
              <div class="form-wrapper flex flex-column mb-4">
                <div class="form-section">
                  <div class="form-group w-100">
                    <div class="relative flex items-center">
                      <input
                        type="text"
                        id="cta-0-desc"
                        class="js-input-maxlen"
                        name="cta[0][desc]"
                        maxlength="40"
                        placeholder="Read our latest insights"
                      />
                    </div>
                    <div id="cta-desc-error" class="error"></div>
                  </div>
                </div>
                <div class="form-section">
                  <div class="form-group select-icon-picker mb-0">
                    <select
                      class="js-choice"
                      id="cta-0-icon"
                      name="cta[0][icon]"
                    >
                      <option
                        data-custom-properties="/static/cta-icon-blog.png"
                        value="blog"
                      >
                        My articles in the blog
                      </option>
                      <option
                        data-custom-properties="/static/cta-icon-meeting.png"
                        value="meeting"
                      >
                        Schedule a meeting
                      </option>
                      <option
                        data-custom-properties="/static/cta-icon-event.png"
                        value="event"
                      >
                        Find me in the event
                      </option>
                      <option
                        data-custom-properties="/static/cta-icon-award.png"
                        value="award"
                      >
                        Special / Award
                      </option>
                    </select>
                    <div id="cta-icon-error" class="error"></div>
                  </div>
                  <div class="form-group w-100 mb-0">
                    <div class="relative flex items-center">
                      <img
                        class="input-icon-img"
                        src="/static/icon-link.svg"
                        alt="Icon Watch"
                      />
                      <input
                        class="input-icon"
                        type="text"
                        id="cta-0-link"
                        name="cta[0][link]"
                        placeholder="https://www.xebia.com/news"
                      />
                    </div>
                    <div id="cta-link-error" class="error"></div>
                  </div>
                  <div class="form-group mb-0">
                    <button
                      class="btn btn-primary btn-trash btn-md js-form-clone-remove"
                    >
                      <img
                        width="16"
                        height="18"
                        src="static/icon-btn-trash.svg"
                        alt="Icon trash"
                      />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button
              class="btn btn-md btn-dawn w-100 text-left font-semibold js-form-clone-btn"
              data-clone-target=".js-form-cta"
            >
              <img src="static/icon-btn-add.svg" alt="Icon add" />
              Add another Call to Action
            </button>
          </div>

          <div class="form-bottom">
            <!-- <a
              class="btn btn-outline btn-small"
              href="static/design.pdf"
              target="_blank"
            >
              <img src="/static/icon-watch.svg" alt="Icon Watch" />
              Design Guidelines
            </a> -->

            <input
              class="btn btn-primary ml-auto"
              type="submit"
              value="Create"
            />
          </div>
        </form>
      </div>
      <div class="preview-container hidden">
        <h2 class="preview-header">Preview:</h2>
        <iframe
          class="preview-iframe"
          name="preview-iframe"
          src="/new/signature"
          height="100%"
          width="100%"
          allow="clipboard-write"
        ></iframe>
        <button
          class="preview-btn-copy btn btn-tiny btn-primary js-signature-copy"
        >
          <img
            width="14"
            height="16"
            src="/static/icon-copy.png"
            alt="Copy icon"
          />
          <span>Copy signature</span>
        </button>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/choices.js@10.2.0/public/assets/scripts/choices.min.js"></script>
    <script>
      function validateForm() {
        let errors = document.getElementsByClassName('error');
        for (let i = 0; i < errors.length; i++) {
          errors[i].innerHTML = '';
        }
        let name = document.getElementById('full_name').value;
        if (name.trim() === '') {
          document.getElementById('full_name-error').innerHTML =
            'Please enter your name';
          return false;
        }
        let email = document.getElementById('email').value;
        if (!validateEmail(email)) {
          document.getElementById('email-error').innerHTML =
            'Please enter a valid email address';
          return false;
        }

        let job_role = document.getElementById('job_role').value;
        if (job_role.trim() === '') {
          document.getElementById('job_role-error').innerHTML =
            'Please enter your role';
          return false;
        }

        let phone = document.getElementById('phone').value;
        if (!validatePhoneNumber(phone)) {
          document.getElementById(
            'phone-error'
          ).innerHTML = `phone number (${phone} should start with a + followed by 10 to 15 digits without any other characters`;
          return false;
        }

        return true;
      }

      function prefillEmail(full_name) {
        let email = document.getElementById('email');
        if (email && full_name && !email.value) {
          let parts = full_name.split(/[ \t]+/);
          email.value =
            (parts.length > 1
              ? [parts[0], parts.slice(1).join('')].join('.')
              : parts[0]
            ).toLowerCase() + '@xebia.com';
        }
      }

      function validateEmail(email) {
        const re =
          /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
      }

      function validatePhoneNumber(phone) {
        const re = /^\+[0-9]{10,15}$|^$/;
        return re.test(String(phone).toLowerCase());
      }

      function cloneFormGroup(cloneTarget) {
        let targetEl = document.querySelector(cloneTarget);

        if (!targetEl) return;

        let cloneEl = targetEl.initialNode.cloneNode(true);
        let cloneCount = parseInt(targetEl.dataset.cloneCount ?? 0) + 1;

        cloneEl.classList.remove(cloneTarget.replace(/^\./, ''));
        cloneEl.classList.add('form-clone');
        cloneEl.removeAttribute('data-clone-count');

        targetEl.dataset.cloneCount = cloneCount;
        cloneEl = prepareCloneFields(cloneCount, cloneEl);

        targetEl?.parentNode.appendChild(cloneEl);

        let removeBtn = cloneEl.querySelector('.js-form-clone-remove');
        if (removeBtn) {
          cloneRemoveBtnInit(removeBtn);
        }

        allMaxCharsCounterInit();
        allSelectInit();
      }

      function prepareCloneFields(number, wrapperNode) {
        wrapperNode.querySelectorAll('label')?.forEach((el) => {
          let forVal = el.getAttribute('for');
          el.setAttribute('for', forVal.replace(/-\d*-/, `-${number}-`));
        });

        wrapperNode.querySelectorAll('input')?.forEach((el) => {
          let nameVal = el.getAttribute('name');
          el.setAttribute('name', nameVal.replace(/\[\d*\]/, `[${number}]`));
          el.id = el.id.replace(/-\d*-/, `-${number}-`);
        });

        wrapperNode.querySelectorAll('select')?.forEach((el) => {
          let nameVal = el.getAttribute('name');
          el.setAttribute('name', nameVal.replace(/\[\d*\]/, `[${number}]`));
          el.id = el.id.replace(/-\d*-/, `-${number}-`);
        });

        return wrapperNode;
      }

      function allMaxCharsCounterInit() {
        document.querySelectorAll('.js-input-maxlen')?.forEach((el) => {
          let charsCounterClass = 'input-chars-counter';
          let charsCounterEl =
            el.parentElement.getElementsByClassName(charsCounterClass)[0];

          if (!charsCounterEl) {
            charsCounterEl = document.createElement('span');
            charsCounterEl.className = charsCounterClass;
            el.parentElement.insertBefore(charsCounterEl, el);
          }

          charsCounterEl.innerText = `${el.value.length}/${el.maxLength}`;

          el.addEventListener(
            'input',
            (e) =>
              (charsCounterEl.innerText = `${el.value.length}/${el.maxLength}`)
          );
        });
      }

      function selectInit(el) {
        el.originalInnerHTML = el.innerHTML;
        el.choices = new Choices(el, {
          searchEnabled: false,
          callbackOnCreateTemplates: function (template) {
            let classNames = this.config.classNames;
            let itemSelectText = this.config.itemSelectText;

            return {
              item: ({ classNames }, data) => {
                const { customProperties: iconData, label } = data;

                return template(`
                    <div class="${
                      data.highlighted
                        ? classNames.highlightedState
                        : classNames.itemSelectable
                    } ${
                  data.placeholder ? classNames.placeholder : ''
                }" data-item data-id="${data.id}" data-value="${data.value}" ${
                  data.active ? 'aria-selected="true"' : ''
                } ${data.disabled ? 'aria-disabled="true"' : ''}>
                  <img class="select-item-icon" width="24" height="24" src="${String(
                    iconData
                  )}" alt="Icon ${label}">
                    </div>
                  `);
              },
              choice: ({ classNames }, data) => {
                const { customProperties: iconData, label } = data;
                return template(`
                    <div
                      class="${classNames.item}"
                      data-select-text="${itemSelectText}"
                      data-choice
                      data-id="${data.id}"
                      data-value="${data.value}"
                      ${
                        data.disabled
                          ? 'data-choice-disabled aria-disabled="true"'
                          : 'data-choice-selectable'
                      }
                      id="${data.elementId}"
                    >
                      <img class="select-choice-icon" src="${String(
                        iconData
                      )}" alt="Icon ${label}">
                      ${String(data.label)}
                    </div>
                  `);
              },
            };
          },
        });
      }

      function allSelectInit() {
        let selectEls = document.querySelectorAll('.js-choice');
        selectEls.forEach((el) => {
          if (!el.choices) {
            selectInit(el);
          }
        });
      }

      function allCloneInit() {
        let formCloneBtn = document.querySelectorAll('.js-form-clone-btn');

        formCloneBtn?.forEach((el) => {
          let { cloneTarget } = el.dataset;
          let targetEl = document.querySelector(cloneTarget);
          if (!targetEl?.initalNode) {
            targetEl.initialNode = targetEl.cloneNode(true);
            targetEl.classList.add('form-clone');
          }

          el.addEventListener('click', (e) => {
            e.preventDefault();
            cloneFormGroup(cloneTarget);
          });
        });

        let formCloneRemoveBtn = document.querySelectorAll(
          '.js-form-clone-remove'
        );
        formCloneRemoveBtn?.forEach(cloneRemoveBtnInit);
      }

      function cloneRemoveBtnInit(btn) {
        btn.addEventListener('click', (e) => {
          btn.closest('.form-clone').innerHTML = '';
        });
      }

      function handleFormSubmit(e) {
        let previewContainer = document.querySelector('.preview-container');
        let previewIframe = previewContainer.querySelector('iframe');

        if (validateForm()) {
          previewContainer?.classList.remove('hidden');
        } else {
          previewContainer?.classList.add('hidden');
        }
      }

      function copyIframeContent(iframe) {
        let doc = iframe.contentWindow.document;
        let range = doc.createRange();
        range.selectNodeContents(iframe.contentWindow.document);
        let select = iframe.contentWindow.getSelection();
        select.removeAllRanges();
        select.addRange(range);
        iframe.contentWindow.document.execCommand('copy');
        select.removeAllRanges();
      }

      function signatureCopyInit() {
        let btn = document.querySelector('.js-signature-copy');
        let iframe = document.querySelector('.preview-iframe');

        btn.addEventListener('click', (e) => {
          copyIframeContent(iframe);

          let btnTextEl = btn.querySelector('span');
          let btnOriginalText = btnTextEl.innerText;

          btnTextEl.innerText = 'Copied!';
          if (!btnTextEl.textTimeout) {
            btnTextEl.textTimeout = setTimeout(() => {
              btnTextEl.innerText = btnOriginalText;
            }, 3000);
          }
        });
      }

      async function toDataURL(url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
          var reader = new FileReader();
          reader.onloadend = function () {
            callback(reader.result);
          };
          reader.readAsDataURL(xhr.response);
        };
        xhr.open('GET', url);
        xhr.responseType = 'blob';
        xhr.send();
      }

      function iframePrepareInit() {
        let iframe = document.querySelector('.preview-iframe');
        iframe.addEventListener('load', () => {
          let iframeDoc = iframe.contentWindow.document;
          let anchors = iframeDoc.querySelectorAll('a');
          let images = iframeDoc.querySelectorAll('img');

          anchors?.forEach((anchor) => anchor.setAttribute('target', '_blank'));
          images?.forEach((img) => {
            toDataURL(img.src, (imageBase64) =>
              img.setAttribute('src', imageBase64)
            );
          });

          console.log(iframeDoc.body.scrollHeight + 16);
          iframe.style.height = iframeDoc.body.scrollHeight + 16 + 'px';
        });
      }

      (() => {
        allCloneInit();
        allSelectInit();
        allMaxCharsCounterInit();
        signatureCopyInit();
        iframePrepareInit();
      })();
    </script>
  </body>
</html>
