<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body style="font-size: 11pt; font-family: Calibri, sans-serif; ">
    <table summary="contact details">
        <tr style="line-height: 1;">
        {% if data.get('profile_picture') %}
        <td>
        <img src="data:image/png;base64,{{ data['profile_picture'] }}" />
        </td>
        <td style="padding-left: 5px; vertical-align:top; padding-top: 10px;">
        {% else %}
        <td colspan="2" style="vertical-align:top; padding-top: 10px;">
        {% endif %}
            <span style="line-height: 1.25; font-family: Calibri, sans-serif; font-size: 12pt; font-weight: 600; color: {{ theme['full_name'] }};">
            {{ data['full_name'] | e }}
            </span>
            <br>
            <span style="font-family: Calibri, sans-serif;font-size: 10pt; font-weight: 600; color: {{ theme['unit'] }};">
                {{ data["job_role"] | e }}
            </span>
            <br>
            {% if 'unit' in data and data['unit'] %}
            <span style="font-family: Calibri, sans-serif; font-size: 8pt;  color: {{ theme['unit'] }};">
                {{data['unit'] | e}}
            </span>
            <br>
            {% endif %}
                <a style="text-decoration: none;  color: {{ theme['unit'] }};" href="tel:{{data['formatted_phone'].replace(' ', '') | e }}">
                <span style="font-family: Calibri, sans-serif;font-size: 8pt; ">{{ data["formatted_phone"] | e}}</span>
                </a>
            <br>
            {% if data['weekday_availability'] %}
                <span style=" font-family: Calibri, sans-serif;font-size: 8pt; color: {{ theme['unit'] }};">
                   {{ data['weekday_availability'] |e }}
                </span>
            {% endif %}
        </td>
        </tr>
        <tr>
        <td style="width: 60px; text-align: center;">
            <img width="58" height="22" id="Xebia" style="position: relative; top: 2px; vertical-align: middle;" alt="Xebia" name="Xebia"
                 src="{{theme['logo_url']}}"/>
        </td>
        <td style="border-left: solid #6C1D5F; padding-left: 5px;">

            <a style="font-family: Calibri, sans-serif; font-size: 8pt; color: {{ theme["link"] }};" href="{{theme['url']}}" title="Xebia website">{{theme['url'][8:]}}</a>
            <br>
            <a href="https://www.facebook.com/xebianl/" title="Facebook" ><img border="0" width="10" height="10" id="Facebook" src="https://assets.oblcc.com/xebia/facebook-dark.png" alt="Facebook" name="Facebook" /></a>
            <a href="https://twitter.com/xebia" title="Twitter"><img border="0" width="10" height="10" id="Twitter" src="https://assets.oblcc.com/xebia/twitter-dark.png" alt="Twitter" name="Twitter" /></a>
            <a href="https://www.instagram.com/xebianl/" title="Instagram" ><img border="0" width="10" height="10" id="Instagram" src="https://assets.oblcc.com/xebia/instagram-dark.png" alt="Instagram" name="Instagram" /></a>
            <a href="https://www.youtube.com/user/XebiaNL" title="YouTube"><img border="0" width="10" height="10" id="YouTube" src="https://assets.oblcc.com/xebia/youtube-dark.png" alt="YouTube" name="YouTube" /></a>
            {% if 'linkedin_url' in data and data['linkedin_url'] %}
            <a href="{{ data['linkedin_url'] | e }}" ><img border="0" width="10" height="10" id="LinkedIn" src="https://assets.oblcc.com/xebia/linkedin-dark.png" alt="LinkedIn" name="LinkedIn" /></a>
            {% endif %}
            {% if 'github_url' in data and data['github_url'] %}
            <a href="{{ data['github_url'] | e }}" ><img border="0" width="10" height="10" id="Github" src="https://assets.oblcc.com/xebia/github-dark.png" alt="Github" name="Github" /></a>
            {% endif %}
        </td>
        </tr>
        </table>
        {% if data.get('office_address') %}
        <span style="font-family: Calibri, sans-serif; font-size: 8pt; padding:left: 5px; color: {{ theme['unit'] }};">
            {% for line in data['office_address'] %}
                {{line| e}} <br>
            {% endfor %}
        </span>
        {% endif %}
    </body>
</html>
