<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body style="font-size: 12pt; font-family: Helvetica, sans-serif; color: #222222;">
        <p>
            <span style="color: #6C1D5F">{{ data['full_name'] | e }}<br/></span>
            <span>{{ data["job_role"] | e }}</span>
            {% if 'unit' in data and data['unit'] %}
                <span>/</span>
                <span style="color: #A1A1A1;">{{data['unit'] | e}}</span>
            {% endif %}
        </p>
        <p>
            <img width="155" height="55" id="Xebia" alt="Xebia" name="Xebia"
                 src="https://assets.oblcc.com/xebia/xebia.png"
            />
        </p>
        <p>
            M <a style="text-decoration: none; color: #222222;" href="tel:{{data['phone'].replace(' ', '') | e }}">{{ data["phone"] | e}}</a><br/>
            <a style="text-decoration: none; color: #222222;" href="mailto:{{ data["email"] | e }}">
                <span>{{ data["email"] | e }}</span>
            </a>
        </p>
        <p>
            {% for line in data['office_address'].split('\n') %}
            <span>{{line | e}}</span><br/>
            {% endfor %}
            {% if data['office_phone'] %}
            <span>T <a style="text-decoration: none; color: #222222;" href="tel:{{ data['office_phone'].replace(' ', '') | e }}">{{data['office_phone'] | e}}</a></span>
            {% endif %}
        </p>
        <p>
            <a href="https://www.facebook.com/xebianl/" title="Facebook" ><img border="0" width="19" height="19" id="Facebook" alt="Facebook" name="Facebook" data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9
            kT1Iw1AUhU9TRakVBzuIOGSogmBBVMRRq1CECqFWaNXB5KV/0KQhSXFxFFwLDv4sVh1cnHV1cBUE
            wR8QVxcnRRcp8b6k0CLGC4/3cd49h/fuA4R6mWlWxzig6baZSsTFTHZV7HpFAD2IYBQhmVnGnCQl
            4Vtf99RNdRfjWf59f1avmrMYEBCJZ5lh2sQbxNObtsF5nzjCirJKfE48ZtIFiR+5rnj8xrngssAz
            I2Y6NU8cIRYLbay0MSuaGvEUcVTVdMoXMh6rnLc4a+Uqa96TvzCc01eWuU5rCAksYgkSRCioooQy
            bMRo10mxkKLzuI9/0PVL5FLIVQIjxwIq0CC7fvA/+D1bKz854SWF40Dni+N8DANdu0Cj5jjfx47T
            OAGCz8CV3vJX6sDMJ+m1lhY9Avq2gYvrlqbsAZc7wMCTIZuyKwVpCfk88H5G35QF+m+B0Jo3t+Y5
            Th+ANM0qeQMcHAIjBcpe93l3d/vc/u1pzu8HQSdyk+bIThoAAAAGYktHRAD/AP8A/6C9p5MAAAAJ
            cEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfnAQsUKS6uS7ajAAAB20lEQVQ4y+WTsWtTURjFz7nv
            tU1CUpcWoSR1URwUddHRQcTFxcEMoibRQWxMKlordhQRFCNKiKkdLClBQfofOOvkElBwcAm8VigF
            p1Tb+u49DpqYQUiibn7bdzj3d8+BewkA06nz+y3MjJE8kRH0OZQ2RQpiqbJSe8epZOaAZzjrvn6Z
            qq4vtzDg5MfTcROJPbHSQ98Hboxsucul9eWNXgevJdPR0ERPStxLMQEA8vgqshnmt4Y4b0SqtFbv
            Cbo0cWbsG2MvJBM62Zeh2b4v4DmcO15aq2+IlN9vnWFv+LpzvF1drTXa2tWJTMJ67Hj6hgnaWV1d
            agBAMZk5AqAQkhbSm4FhBDsRnMFp6zD3NFha7fb0hE0nc3ucwSFAo7+eBH2fOFGYzLWMQ6O8UvsI
            AKZnPaNzlHxa704ngccyqUDO7RBdeqCa1prX1U+LQXt/3Kw1ATQLuy4cg1PY1nsnE7aNZ+8VU9mZ
            tlZI5U4VktkFOHfLUUHfySrB0t0fgOxi1xVHh+DPPQqefe72GvzD+Q9glGgA+fnxdPxvQPnxdFyG
            NHKomEh0obj77OifgG6OXUyYaGzeOj0gAFyZzO6jOAvKgzDy+4+OwwTe/lwPEvzgqBbF0MCWykH9
            /XdiaL6rB9s8+wAAAABJRU5ErkJggg==" /></a>
            <a href="https://twitter.com/xebia" title="Twitter"><img border="0" width="19" height="19" id="Twitter" alt="Twitter" name="Twitter" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9
            kT1Iw1AUhU9TRakVBzuIOGSogmBBVMRRq1CECqFWaNXB5KV/0KQhSXFxFFwLDv4sVh1cnHV1cBUE
            wR8QVxcnRRcp8b6k0CLGC4/3cd49h/fuA4R6mWlWxzig6baZSsTFTHZV7HpFAD2IYBQhmVnGnCQl
            4Vtf99RNdRfjWf59f1avmrMYEBCJZ5lh2sQbxNObtsF5nzjCirJKfE48ZtIFiR+5rnj8xrngssAz
            I2Y6NU8cIRYLbay0MSuaGvEUcVTVdMoXMh6rnLc4a+Uqa96TvzCc01eWuU5rCAksYgkSRCioooQy
            bMRo10mxkKLzuI9/0PVL5FLIVQIjxwIq0CC7fvA/+D1bKz854SWF40Dni+N8DANdu0Cj5jjfx47T
            OAGCz8CV3vJX6sDMJ+m1lhY9Avq2gYvrlqbsAZc7wMCTIZuyKwVpCfk88H5G35QF+m+B0Jo3t+Y5
            Th+ANM0qeQMcHAIjBcpe93l3d/vc/u1pzu8HQSdyk+bIThoAAAAGYktHRAD/AP8A/6C9p5MAAAAJ
            cEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfnAQsULR119xKxAAACfklEQVQ4y6WUy09TURDGvzn3
            trRQa4ggQdorGjUGQmJcujPxPzDdYKCFhUofBqEaTEyQhRtDg6alkJjwKMGF9bEwrIwaV65MfG0M
            EGlpCFCIRnncgveMC4PpJVQqznLON79z8s3MIQAIaN56MMKCWWEiG4oMYtaZhAQjEsuMfKSgy9cA
            kl1UYrRFp8a/4x/DX+lxCFtZDIyIIMhrUl+/tBcQAMSzyRXbhhFg4g7BRBzPJlfwH9G7MLZKAKvF
            FrRpjeWqtJ4F8UruYMmr6rfVxqI2uX8g/eDrlkbkFwQ0b33Q5X0WrmoqM/lS4zulsCXCCn0DsdO6
            mBtfds+8V9l6M19ngglJZ0A0oVspEXT5Gv7kBdqpxNkWSw2/jKYTj6S+1srEFmY+URAG4hQYFqmv
            eyFwPqR57wc0XzsgLdGpaC7fdGKaLdWVxoIwJtSCuBsWR3ksPXJrPr12WZGYIFJu5+uuV7TuA5C9
            szT0Iz9vagAD0wT0xeeGZwEgiaSBDCa3N2PVtlknQJ+2500v60+PvgDhZMjtjV91eeyFR58uCkN9
            /FcYALDkJwxU9GWS+k6cKy7fcSKy3psb+rwrrD+TeMrA65DL+zxwuOW0aXRqmg9IIe/+zMnOnS4y
            eRbUfF2APMpAKRMeVqS0d1tnIa35HDN1sMHtgwtji7vCiDkJCD/ADgC1y+6ZG0H4DjHYLYE39g3p
            6V0YWy1kpQkWnR2dBtDZjW6xdCTjpk3DKVVk4zOj87utGwOkAqz6Kz2O/GXvQY/EF6SK3dtwVVNZ
            jlkRLBEje+lg6NgF515+DH+lx6FbRRysRui3uS11zDIMQAFgLxbEhA1iGAZzZCCT+PALYPQIyrhL
            5b8AAAAASUVORK5CYII=" /></a>
            <a href="https://www.instagram.com/xebianl/" title="Instagram" ><img border="0" width="20" height="19" id="Instagram" alt="Instagram" name="Instagram" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9
            kT1Iw1AUhU9TRakVBzuIOGSogmBBVMRRq1CECqFWaNXB5KV/0KQhSXFxFFwLDv4sVh1cnHV1cBUE
            wR8QVxcnRRcp8b6k0CLGC4/3cd49h/fuA4R6mWlWxzig6baZSsTFTHZV7HpFAD2IYBQhmVnGnCQl
            4Vtf99RNdRfjWf59f1avmrMYEBCJZ5lh2sQbxNObtsF5nzjCirJKfE48ZtIFiR+5rnj8xrngssAz
            I2Y6NU8cIRYLbay0MSuaGvEUcVTVdMoXMh6rnLc4a+Uqa96TvzCc01eWuU5rCAksYgkSRCioooQy
            bMRo10mxkKLzuI9/0PVL5FLIVQIjxwIq0CC7fvA/+D1bKz854SWF40Dni+N8DANdu0Cj5jjfx47T
            OAGCz8CV3vJX6sDMJ+m1lhY9Avq2gYvrlqbsAZc7wMCTIZuyKwVpCfk88H5G35QF+m+B0Jo3t+Y5
            Th+ANM0qeQMcHAIjBcpe93l3d/vc/u1pzu8HQSdyk+bIThoAAAAGYktHRAD/AP8A/6C9p5MAAAAJ
            cEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfnAQsULBASXV9NAAADGklEQVQ4y52UT2hcVRTGv+/e
            N+/NTNRg/2gJM9NoXaVoF12ldOXGlSDKLM1MRCftZKalYKALoZtWpRorzGSiA00zU+OmCxcKRRCE
            Kqi4EBIUF6FNMk8tSUz/ZOjM67x7j4tYM1Vqot/2u/fH+c499xAARlOZ/RSOUawSMoptiiJtobIQ
            jJf96TkWEtmnQXuSnjlamp+5jf+o/O70QyraU4ZgnMXEUN0ErTzdmEfFdwDGAVHbqgwQS1Rjgf22
            5aqyI6RUVi41RxOZM1bMmxX/o/l/A4ymMvsJDtDC3OyYz3s9VbudiF1xl4PNChTk0a1AaaQ1BacJ
            e0OU7Op1mYHIT5E107fB+FNCylax9jy1xwFlpbRU/0JZfgmonaCyETEEAGerthQSmReFGFTAb83m
            9XqPE+8rJrJvG9rdEHxGqgP3DnfDYsdSmYPGyMLEL/XfAaCQzFQo+NrRPB2ENhV34hUFnuiou6vB
            nWYY9XbsU8BzoRgCajMmBb1W+Ao0XgWAwt7hZynyY8mvzby/MH1z0q/PunBGrLJjk0sf34jSE0WZ
            gsgTMa2dv/UM163gU1rVAAAaM2Ah33dnPuefX4PQA4DKyqUmiDkhv+lYdO6DAQApdwQ2DgCWnFVU
            h7v9I4+//BgowWYYCbv9+2A9Lf0DyUMAMNGoXRGgv5DMHsn3DSfzqaHDEVdXRUfOAMCxvcODoJp7
            IOzs6tS6CNaPJoaeAYByo1aE2EVqm6PwgNbITlw7v3gKp5RYe7zjuBe67/9jNHra+o1WzF4s9GdP
            lhemfy779csALt/zcwdzkbXlhXNGeKF6tXqrkMo+GHZ2dWo992Qu44XBu6PJ7DJhPmHHWTReuEtb
            PSjLwfMA36v4019tvJxVHUaECLtGA1grJjP7AKB6tXqrtFR7jRoXSXXIumaMol4AxN/Z6H+p1NgA
            pZHWIAc6O/SvApCF5NCMbbdGPO8Rt4PwLRAPb+Nn/LU1RKkPo+3wuyDCSUcsyozFPwjddr48PzPy
            f/ZZOxqv0OpxAkAxNTwgYl8HoAHEtgsS4i4FxoiMT/r12T8Af6lZuWbOAr8AAAAASUVORK5CYII=" /></a>
            <a href="https://www.youtube.com/user/XebiaNL" title="YouTube"><img border="0" width="19" height="19" id="YouTube" alt="YouTube" name="YouTube" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9
            kT1Iw1AUhU9TRakVBzuIOGSogmBBVMRRq1CECqFWaNXB5KV/0KQhSXFxFFwLDv4sVh1cnHV1cBUE
            wR8QVxcnRRcp8b6k0CLGC4/3cd49h/fuA4R6mWlWxzig6baZSsTFTHZV7HpFAD2IYBQhmVnGnCQl
            4Vtf99RNdRfjWf59f1avmrMYEBCJZ5lh2sQbxNObtsF5nzjCirJKfE48ZtIFiR+5rnj8xrngssAz
            I2Y6NU8cIRYLbay0MSuaGvEUcVTVdMoXMh6rnLc4a+Uqa96TvzCc01eWuU5rCAksYgkSRCioooQy
            bMRo10mxkKLzuI9/0PVL5FLIVQIjxwIq0CC7fvA/+D1bKz854SWF40Dni+N8DANdu0Cj5jjfx47T
            OAGCz8CV3vJX6sDMJ+m1lhY9Avq2gYvrlqbsAZc7wMCTIZuyKwVpCfk88H5G35QF+m+B0Jo3t+Y5
            Th+ANM0qeQMcHAIjBcpe93l3d/vc/u1pzu8HQSdyk+bIThoAAAAGYktHRAD/AP8A/6C9p5MAAAAJ
            cEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfnAQsULTVAQrpLAAACLElEQVQ4y6WTv2+SYRDHv/e8
            lN92snEooImdrHXX/4PFptAuGgqvQ1MTdRBSI0MjaSLYGoxaMJ0Y3N1c3K1xM1HDS6KpHWz5Vcj7
            fB0MFAppKP1uzz13n7vL3QkAxEPRWRCrijQo4saIErJJURpEJmdtf5FEYHEOoh+Iy45lv+0c4Ixa
            ngr7lduXA5FRAn1fNxt3xwEBwOZeqepu2XEKVxRFuLlXquIcevb7XU0AOjoGc8Z0sXX4EOBVAgKi
            LRAPwDoAvwj+knCCaELEJcK2Jn45WU9vWKUGAHRh+ujwsQI/ZsuF1KgV3bu8dKutvU8BrACA6k5G
            GMqWCx96nePB6JNEKJI3p+cDw2DPf779JOTFzrsLA8UeGD0QEttegxhpMxBJJJFUJ320HMf1fFIP
            y56t7FhZqxjRQGU/+L2UCCzO9e8aWqnZsPME7HS9sIrvqXFHwI0+mMD+UfOpM8Hi05GbSqnXNFS6
            r02IuuKr6b5pEpBhEHNmfpLNiTVAN45s5+18OV/v96Ar9bXUSgSjxzAZXuUBjhyvhCqdrWx/Hnqf
            PXGOHvt+LBC5sWUVdzuGXLlgnrpnwYXrBGoDMG/DSNY99noiGJkEVBugk2BDIBf+bz+9BJqKmKAo
            TZAaqDoMeTQAW//z5hBAbNz7JCAKoGN5Kuw/z6GvXlrwKdJQ1MiJx/vSnJmfHAe0PBX2N51qE3Rk
            BADM0NI1Uq8CMAB4Rm5N0BLCtsnMllXc/QdUEumFUoaNPgAAAABJRU5ErkJggg==" /></a>
            {% if 'linkedin_url' in data and data['linkedin_url'] %}
            <a href="{{ data['linkedin_url'] | e }}" ><img border="0" width="19" height="19" id="LinkedIn" alt="LinkedIn" name="LinkedIn" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9
            kT1Iw1AUhU9TRakVBzuIOGSogmBBVMRRq1CECqFWaNXB5KV/0KQhSXFxFFwLDv4sVh1cnHV1cBUE
            wR8QVxcnRRcp8b6k0CLGC4/3cd49h/fuA4R6mWlWxzig6baZSsTFTHZV7HpFAD2IYBQhmVnGnCQl
            4Vtf99RNdRfjWf59f1avmrMYEBCJZ5lh2sQbxNObtsF5nzjCirJKfE48ZtIFiR+5rnj8xrngssAz
            I2Y6NU8cIRYLbay0MSuaGvEUcVTVdMoXMh6rnLc4a+Uqa96TvzCc01eWuU5rCAksYgkSRCioooQy
            bMRo10mxkKLzuI9/0PVL5FLIVQIjxwIq0CC7fvA/+D1bKz854SWF40Dni+N8DANdu0Cj5jjfx47T
            OAGCz8CV3vJX6sDMJ+m1lhY9Avq2gYvrlqbsAZc7wMCTIZuyKwVpCfk88H5G35QF+m+B0Jo3t+Y5
            Th+ANM0qeQMcHAIjBcpe93l3d/vc/u1pzu8HQSdyk+bIThoAAAAGYktHRAD/AP8A/6C9p5MAAAAJ
            cEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfnAQsULC+kO3JwAAACKklEQVQ4y62TzUtUURjGn/e9
            lzujIKHRKDgz2iYCF9VOojYt2oUQKSjkHamNeCcRQ1wEtog+SAltDHLjzIQIEUL/QK00Ny2DaON8
            NIEjEpXEeHXO0yJz4xAzg7/lOZwfz8P7HgGAkchgD4BpgShIB9Ui4gOgUCaef02uSDwcuw7ljB3k
            pWdf0gXUyGiov7UccFaFMqEUPtWS312PCABmi8ubQd9cNGKe2AA4W1zeBCBe1H0Mog3Abz8UuLPw
            cWGvGuH05quiF3Gp/w5GIu5lErlEPuVS8D6wVeqpNeWhTCwpKtA1HB1oFsMLIta3umWJTPIzhCs2
            nXsUrM9lF9cqPRiODjRPYUor3dmHNU/f6uB++QHAnELuDocHNyyRGQDfCQQF2BHAMmB2O5Jp8RDb
            3bEwnswkS0eS0fiNFL5N5FN9hkxZKk0AthL5VB8MhwD8aMl39s/n0hOJfOq2qiw1lfmoYs3/MV9I
            b4Nc3Y5mXnuRWPJ+V68zl11cA3myZtlYuLcBIlcSudQNEb7b+tVwFQAIFOJtQ6dqku1JUzPILADA
            mKwC7QBAlZ9le+/EkQFUixElWDmE4hg5VtlhTcuoT0iPF3Y7ITgLmnFSOryw+xJSboTop4Md2lXR
            AS/sngflnG106e8wKBKPuhta8rsPPntd3G29GSo5+kFhzMP9oLM+dmawvR7RaKi/teToGow9KQAQ
            j8aukZwBoCAD1Yqosi9E2RhOviik3/wBZaHnwhyiy7kAAAAASUVORK5CYII=" /></a>
            {% endif %}
            {% if 'github_url' in data and data['github_url'] %}
            <a href="{{ data['github_url'] | e }}" ><img border="0" width="19" height="19" id="Github" alt="Github" name="Github" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9
            kT1Iw1AUhU9TRakVBzuIOGSogmBBVMRRq1CECqFWaNXB5KV/0KQhSXFxFFwLDv4sVh1cnHV1cBUE
            wR8QVxcnRRcp8b6k0CLGC4/3cd49h/fuA4R6mWlWxzig6baZSsTFTHZV7HpFAD2IYBQhmVnGnCQl
            4Vtf99RNdRfjWf59f1avmrMYEBCJZ5lh2sQbxNObtsF5nzjCirJKfE48ZtIFiR+5rnj8xrngssAz
            I2Y6NU8cIRYLbay0MSuaGvEUcVTVdMoXMh6rnLc4a+Uqa96TvzCc01eWuU5rCAksYgkSRCioooQy
            bMRo10mxkKLzuI9/0PVL5FLIVQIjxwIq0CC7fvA/+D1bKz854SWF40Dni+N8DANdu0Cj5jjfx47T
            OAGCz8CV3vJX6sDMJ+m1lhY9Avq2gYvrlqbsAZc7wMCTIZuyKwVpCfk88H5G35QF+m+B0Jo3t+Y5
            Th+ANM0qeQMcHAIjBcpe93l3d/vc/u1pzu8HQSdyk+bIThoAAAAGYktHRAD/AP8A/6C9p5MAAAAJ
            cEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfnAQsUKzP/e7j4AAACeUlEQVQ4y52U30vTURjGn/d8
            tznnLCh1MdyoMLqI/B8KugspQkgiJyYj3Yb9UOmuu0zRK13ZCJuTIMgiCSK66MKbvC4IgjLJWVpJ
            iDn34/s9TzcudG6yeu5eznk/53l/cAQAQv7AMSGuA6IAulCmhExTlAYxPJqMv5NwfdtxKPa5UkbX
            4M/xNfyjumqb3cpZNQpiWAl0rzOjL/8PCADu/Hj825m1QhReUxTh0PLkev6w+1CHJ+htqdkNEPS2
            1IR97d58PLQ8uS4AbYUXLTPXb1eOtYg/4NLgtKKq00KPaHwXA0vUOA1KBrA8AFq25qpCGEFGkxPd
            2uINBTghMiuiH5F8T023mdU3R5PxKxCYhbk7nCmIGwCii4kVAFNbjj4DeLPl1SoAAoBFnYX8bacg
            fF1W5ylTEV/gfMkyReuTynA8K2vHnNVPKDyxS89UpTY2NsqBLX1cMkXDWdqZ4pzOORrKgR3wuQ5q
            UQslYVTySmndUVbLgJDSeF50msHDwb2Sy+Qo/BD2BwZocXBzott0tf7SvpyYPYD8GlmMzxaF2c1s
            E4EBahkD9FMxpD/sCxzN2iuaYnOx1aA36HIYmZdZmJ8APIguxGd2rtWmol/ikwDGReGIQM6A6gWA
            +dhcbBUAYl9jKSHnc3UVwejCxEyx0pWQkg90OnUbRB1EVkg2GpZxa/tqSdK2kt1fooeiKGLrqm12
            538AnU6dE+IbFDOW0p3bE4QOmlII6vFcrFKkoSCIKmflvUjDhT154Ehy4qFddKKcqfbVtFenK9QY
            aBsWAOisb200lPSCMP4OhagkOB1NJu7nEyP+QCuJswBym15zQlgmMHQ3mXj7B40EE9/np63uAAAA
            AElFTkSuQmCC" /></a>
            {% endif %}
        </p>
    </body>
</html>
