Message-Id: <13189767-B5BE-403B-BA9A-702A0D9C106B>
Mime-Version: 1.0 (Mac OS X Mail 16.0 \(3774.600.62\))
Content-Type: multipart/related;
	type="text/html";
	boundary="Apple-Mail=_B729D2E3-B24D-4C60-A868-8E48A4C75420"


--Apple-Mail=_B729D2E3-B24D-4C60-A868-8E48A4C75420
Content-Transfer-Encoding: 8bit
Content-Type: text/html;
	charset=us-ascii

<html xmlns="http://www.w3.org/1999/xhtml">

<body style="font-size: 11pt; font-family: Arial, sans-serif; ">
  <table summary="contact details" style="width: 100%;">
    <tr>
      <td style="padding-right: 10px; width: 75px;">
        <a href="https://xebia.com/" title="Website" style="text-decoration: none;">
          <span style="text-decoration: none;">
						<OBJECT width="75" height="70" alt="Xebia logo bulb" type=application/x-apple-msg-attachment data="cid:829B08AD-DD33-44AD-B4B9-AD8D6267230A"></OBJECT>
          </span>
        </a>
      </td>
      <td style="
        vertical-align: top;
        border-left: 1px solid #6c1d5f;
        padding-left: 12px;
      ">
        <table style="border-collapse: collapse; width: 100%;">
          <tr style="
              line-height: 1; 
              vertical-align: baseline;
            ">
            <td style="
                padding: 0 0 2px;
              ">
              <table style="border-collapse: collapse;">
                <tr style="line-height: 1">
                  <td>
                    <p class="MsoNormal" style="
                      font-family: Arial;
                      font-size: 12pt;
                      font-style: normal;
                      font-weight: 700;
                      line-height: 14pt;
                      text-decoration: none;
                      color: #6c1d5f;
                      margin: 0.1px;
                    ">
                      {{ data['full_name'] | e }}
                    </p>
                  </td>
                  {% if 'social_media' in data and data['social_media'] %}
                  <td style="color: #dddddd; font-size: 10pt; font-weight: 200; padding: 0 4px 2px;">
                    |
                  </td>
                  {% for media in data['social_media'] %}
                  {% if media and media['icon'] and media['link'] %}
                  <td style="
                      padding: 0 2px 2px 0;
                    ">
                    <p style="text-decoration: none; margin: 0.1px; line-height: 13pt">
                      <a href="{{ media['link'] }}" style="text-decoration: none; ">
                        {% if media['icon'] == 'linkedin' %}
													<OBJECT width="18" height="18" type=application/x-apple-msg-attachment data="cid:63C2250E-05B6-4B6B-A010-9BB192BDFF84"></OBJECT>
                        {% endif %}
                        {% if media['icon'] == 'x' %}
													<OBJECT width="18" height="18" type=application/x-apple-msg-attachment data="cid:3F9A2D8E-5ABF-4558-9933-37E6609E28A7"></OBJECT>
                        {% endif %}
                        {% if media['icon'] == 'github' %}
													<OBJECT width="18" height="18" type=application/x-apple-msg-attachment data="cid:E17BC96C-79E5-4A6F-B474-C15A7D29FF38"></OBJECT>
                        {% endif %}
                      </a>
                    </p>
                  </td>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                </tr>
              </table>
            </td>
          </tr>
          <tr style="line-height: 1">
            <td style="
                padding-top: 0;
                padding-bottom: 2px;
              ">
              <p style="
                  color: #5a5a5a;
                  font-family: Arial;
                  font-size: 10pt;
                  font-weight: 700;
                  line-height: 12pt;
                  font-style: normal;
                  margin: 0.1px;
                ">
                {{ data["job_role"] | e }}
              </p>
            </td>
          </tr>
          {% if 'unit' in data and data['unit'] %}
          <tr style="line-height: 1">
            <td style="
                padding-top: 0;
                padding-bottom: 2px;
              ">
              <p style="
                  color: #5a5a5a;
                  font-family: Arial;
                  font-size: 10pt;
                  line-height: 12pt;
                  font-style: normal;
                  margin: 0.1px;
                ">
                {{ data["unit"] | e }}
              </p>
            </td>
          </tr>
          {% endif %}
          {% if 'formatted_phone' in data and data['formatted_phone'] %}
          <tr style="line-height: 1">
            <td style="
                padding-top: 0;
                padding-bottom: 2px;
              ">
              <p style="
                  color: #5a5a5a;
                  font-family: Arial;
                  font-size: 10pt;
                  line-height: 12pt;
                  font-style: normal;
                  margin: 0.1px;
                ">
                {{ data["formatted_phone"] | e}}
              </p>
            </td>
          </tr>
          {% endif %}
          <tr style="line-height: 1">
            <td style="
                padding-top: 4px;
                padding-bottom: 2px;
              ">

              <p style="
                  color: #6c1d5f;
                  font-family: Arial;
                  font-size: 9pt;
                  line-height: 11pt;
                  font-style: normal;
                  font-weight: 400;
                  margin: 0.1px;
                ">
                Find Xebia on:
              </p>
            </td>
          </tr>
          <tr style="line-height: 1">
            <td style="
                padding: 0 0 5px;
              ">
              <table style="border-collapse: collapse;">
                <tr style="line-height: 1">
                  <td>
                    <p style="
                      font-size: 9pt;
                      line-height: 11pt;
                      text-decoration: none;
                      margin:0;
                    ">
                      <a href="https://xebia.com/" title="Website" style="text-decoration: none;">
												<OBJECT width="18" height="18" alt="Website" type=application/x-apple-msg-attachment data="cid:3F9A2D8E-5ABF-4558-9933-37E6609E28A7"></OBJECT>
                      </a>
                    </p>
                  </td>
                  <td>
                    <p style="
                      font-size: 9pt;
                      line-height: 11pt;
                      text-decoration: none;
                      margin:0;
                    ">
                      <a href="https://www.linkedin.com/company/xebia" title="Linkedin" style="text-decoration: none;">
												<OBJECT width="18" height="18" alt="Linkedin" type=application/x-apple-msg-attachment data="cid:63C2250E-05B6-4B6B-A010-9BB192BDFF84"></OBJECT>
											</a>
                    </p>
                  </td>
                  <td>
                    <p style="
                      font-size: 9pt;
                      line-height: 11pt;
                      text-decoration: none;
                      margin:0;
                    ">
                      <a href="https://x.com/xebia" title="X" style="text-decoration: none;">
												<OBJECT width="18" height="18" alt="X" type=application/x-apple-msg-attachment data="cid:3F9A2D8E-5ABF-4558-9933-37E6609E28A7"></OBJECT>
                      </a>
                    </p>
                  </td>
                  <td>
                    <p style="
                      font-size: 9pt;
                      line-height: 11pt;
                      text-decoration: none;
                      margin:0;
                    ">
                      <a href="https://www.youtube.com/@XebiaGlobal" title="YouTube" style="text-decoration: none;">
												<OBJECT width="18" height="18" alt="YouTube" type=application/x-apple-msg-attachment data="cid:70EE7E83-8413-4668-A463-075B66CDEEA0"></OBJECT>
                      </a>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          {% for call in data['call_to_action'] %}
          {% if call and call['icon'] and call['desc'] and call['link'] %}
          <tr style="line-height: 1">
            <td style="
                padding-top: 0;
                padding-bottom: 1.25pt;
              ">
              <table style="border-collapse: collapse;">
                <tr>
                  <td style="line-height: 8pt;">
                    <p class="MsoNormal" style="
                      vertical-align: middle;
                      margin: 0;
                      line-height: 10pt;
                    ">
                      {% if call['icon'] == 'blog' %}
												<OBJECT width="12" height="13" style="display: block; vertical-align: middle;" type=application/x-apple-msg-attachment data="cid:FA29D756-3B30-4010-AF7B-406134084DAA"></OBJECT>
                      {% endif %}
                      {% if call['icon'] == 'meeting' %}
												<OBJECT width="12" height="13" style="display: block; vertical-align: middle;" type=application/x-apple-msg-attachment data="cid:8628AD12-0484-410A-8962-4A3416E20695"></OBJECT>
                      {% endif %}
                      {% if call['icon'] == 'event' %}
												<OBJECT width="12" height="13" style="display: block; vertical-align: middle;" type=application/x-apple-msg-attachment data="cid:8628AD12-0484-410A-8962-4A3416E20695"></OBJECT>
                      {% endif %}
                      {% if call['icon'] == 'award' %}
												<OBJECT width="12" height="13" style="display: block; vertical-align: middle;" type=application/x-apple-msg-attachment data="cid:5854990F-D233-409D-8504-C424D24FE33A"></OBJECT>
                      {% endif %}
                    </p>
                  </td>
                  <td style="padding: 0 0 0 2px; line-height: 8pt;">
                    <p class="MsoNormal" style="
                      font-family: Arial;
                      font-size: 8pt;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 10pt;
                      color: #5a5a5a;
                      vertical-align: middle;
                      margin: 0;
                    ">
                      <a href="{{call['link']}}" style="color: #5a5a5a;">
                        <span style="color: #5a5a5a; text-decoration: underline;">
                          {{call['desc']}}
                        </span>
                      </a>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

--Apple-Mail=_B729D2E3-B24D-4C60-A868-8E48A4C75420
Content-Transfer-Encoding: base64
Content-Disposition: inline;
	filename=image001.png
Content-Type: image/webp;
	name="image001.png"
Content-Id: <829B08AD-DD33-44AD-B4B9-AD8D6267230A>

iVBORw0KGgoAAAANSUhEUgAAAJcAAACPCAMAAADAxLm9AAAABGdBTUEAALGPC/xhBQAAAAFzUkdC
AK7OHOkAAAAJcEhZcwAAFiUAABYlAUlSJPAAAADbUExURUdwTGseYGogYGwdX2weX20dX20eX3Ag
YHAgYG0dYGwcYGwgYGwdX2wcYGwcYG0dX2weYGwdYGweX2wdX2wdYG0dX2weXmwdYGwcX2wdYG0d
YGsbYGsdYG0eX20eYGweYGobYGweYGweYG0dYGwdX////9rH1+3j68irw345c/bx9X86c3UraaNy
m5FWh346c4hIfciqw385c7WOr7aOr5BWh7+cuayApeTU4aJym5pkkePU4YdIfdG5zXYraaRym9G4
zezj6+PV4YdHfZBVh5lkkb6cudrG19vG1zJyuY8AAAAkdFJOUwBwMO/v398QIGBAQL+AkI+Av8+v
UJ9/oM+vn3Cwj5+gMM+Q3yFRo40AAAXaSURBVHjazZx5e9o4EMZtg42NwZwJybbbdneFMQYHSDgC
3TRH9/r+n2h9yPjAh4QPzftHH1dWwi8zo9GBJI67Si1ZUMeKo777r6oKcotjppYw5nujOxElS+yM
erwq1IokK71RGk9cd6O+WoP1Wmqv00C0Ekd8lZZTbzvoajVGilwJVK+Biuqup8KDwi7tlWa11u0Q
lam7Uhwql2aqkG6Kksk3qBp1ikRaqyoqN9KUa7FuG6hSieOr2qCIKteIPs5+RbWIsgXIHVSTqMJM
EFF9IjeZ0EB1itRk43qxbPUAWsszWb4vZRExkPgtj4sJli0eRN5K0G1mcCEEEkxkyIVuUrEUhECC
iWy50lzZRggk2A1zruR0IbLnQiqsJBFMgGVordGfx11w/Q6C63J00YHBdRFiQyBcYmxlqgmEK+5J
BEYqUK6oJ+FwoT5QrkYLWDeUFPqQuFCoOxpB4gqNEb8imAbjQXEFTXIMiitokjICarAmLIPBbJCh
XhJW4KMOnHlaSuTDCrBg0vYVqCMVWFzId2QLAXVkB6gjczPFWve1yHj5tiy5ReY70ppizS7AdiZ+
Zf5ZemrNd+TaTAELiFeh0tVq9SP2G+wi6j6SILWewcx1PhbSp1M9+vNzu84DbYC1mleCpWAV5Ar6
7i5B7fXsAuyQglWQCwlUi2DzONhTGlYCF1osFkvqDEaWws5gU+sSa2d8vOv7RYhr92QYxgGXLI/H
I+ba7Q39xS7/+3hMseAXysXfCNgZ63npJDH8n80Cc82iJWc/PvrlT/aDkfw5w2BaJNGCRbH8RoET
iT4NyS3xuUI1zVSuIPCJIj8CFsZ6dD5Mtx4OztvZ0ucy9ZePKS7BXI/uz+sGBjdyp2skqSIJbOME
zcZ+eHVfbx0HYa698+ph5pVgLqfmsxOO8+9ZXCq1wWJgGzdk7Ictfv2vbaaly7XB9U23BHOZnvWc
hjDL4Ap9yUxqMPyXhrDQyX76z/D0bD//dLl+4vr/uEQe185vyzj5GQQrTqQGc83j6Xssj50bq81l
+tVPbonHZYWy6zyD6wtHb7AfzwHBUzTtJ3LtYlwnv//I4PocXqGbUGPZse1b5LQI5MWX31ttQn5c
n/8Wr29N4xpEvnynx/IibGkGn3Z0k7jD9Ya97sS3H/dOTXMRlKdxiZElYI0gtp7j+WuDA+zgUr95
TdPLEw7AbubVwe3RqTmz/HJCrvwIezwnie3ef7KHz26bn70YupNfZyjIq8a7339iLrem/eI9O682
omv5XXIsL4V6rXIZTmpuJx7ph9wBtt8PRdNfGhfiaAwWYL36uf0Mtgnnf4frwy/RV5F++1xzqxNz
ZRsshhUGsyNpbu2N/cEfyljWCc2fXvSXPU5XS8uy8ChtfjB0Y/vgVPqLkCvLYGcs89Uv2qZPkwoq
/q0fT4AVmo9VBnbxNalEg1UZWIN018I6bfZ6qARMvPwevpM9rV1RTMWv15Bwm8cej2KMhDnzyX+3
LY9rkLCfQkPs9TlpIzKAdU0taQNKlz1X8j46iTnXGOgOp5QTK8wXNtO2jTIO/WHaFrouvDTh5QoJ
YHNkH/oZ50BYhn4ja8c0w9AfZG0C5iGGF9uNYdn735mFvpSz+Z3VgEfLO3klQXQjM08O8099MPEk
wUEZFkNXieTE8Lh+rl+IjhVp8KKeTZskM1f9bZL43JoG0lw1e1KiOBkp1JgsPtGc16xvxCNxVBqB
C/p6Q6xPex64nhCTOGrxwNpinVnsqgPn1c/b+ldhVR77Gnelqp1Q3l9/0UKVB8aGRa6PUWBiVbf6
NCx62U41YIPidwBVATYp456YLpS8VTFYU+E4gGBSiVc4lZguJqXeeiWU1CU1P3HlSi4FbFD+VVet
CTxjlTNQ1Kq6T62QLwftCm9S64Kkckx2D5HKTWXUzryvgYqarNmt8e5FZUAIpbW5eiVPJAIoJtdU
tie/pTPd8wLHTvJYG8SmTM0/7rVqLlak7qCE9ljh+31eUdpCEaL/Ab+b4nzx/3reAAAAAElFTkSu
QmCCAAAAAAA=


--Apple-Mail=_B729D2E3-B24D-4C60-A868-8E48A4C75420
Content-Transfer-Encoding: base64
Content-Disposition: inline;
	filename=image002.png
Content-Type: image/webp;
	name="image002.png"
Content-Id: <63C2250E-05B6-4B6B-A010-9BB192BDFF84>

iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAACXBIWXMAABYlAAAWJQFJUiTwAAAA
AXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAANCSURBVHgBzZjPTxNBFMe/b1kP9iBFuAlkDZIY
TcR6QExIKAc10QsmGi4mlGg8GA34FyAXw8WEXycTpdxN9CoXamLij4NWjYaEgwuUG2LDQQ/Sju8N
uwuthW7ptuWTsDs7O9398n7MvFlCiQxbMetvFn0GVAcUogoIY+tPSHOfDYKtiF4fMvBy3I7bKAHy
O/B+SyymoAa4GUUpKCSJaGJqJR73M7yooHtWLEoZNcOWsFAG/CKbj6PFhO0qiF0TzmTViFIYRoDw
C8fr6miUXZne5X5BMdbmpnrBd8+iAoi1WFRvofiiQmIyGTVfrov2K4ryxIRZzKdKi/HggDdNLcpz
n7Hzvo6ZaokROCTYACO5XQ5OWs+gFrDrpu14Qprmdm+u0nxCR0LovNGNPxu/8eXVR30OCplW+HRc
a5PDlnUQ2+tH/Y8GcPHuVZy5fA5WpA3vn79BgITP10eWPmwkkzqGFKmhYr84ceGk1w7VhxA0zioA
Q9Kcr4rON4mnc15bXFYBoqLFlIXSz4Imgla/L+vYSX1bRiUQLSYp1eNncDu7rKG5CQ3cPswBvvh2
AY183ea48ldqTfeJa9u7tvpS/A98LcGaHD8dJie+uKwonde70cVZJkhAuy+/+fi27lt8t8Bj1rwx
LmLNyf4xf1mpVFSC2kIAiFXyxQjNp1sRvXXJzyPELmGTj2EExCpbY/7ZnHbplQd9+qxFnWr1+4iw
iQB5cmcS6ytrun2U46vXsYxYyS8Gx1AaAeGKESQj90HaIBWcoLLhWtyQYhwHBKVoyeDITuKgQEgY
slXBAUG0GE4JmUCtISRFi17G/BRnxzh1Q8688pOzaZ2XCkntxpYmb4zM3i477/lZ/wg0KFuk7Yqx
deAHb3ks1ADi7JpantUFmldTqywNolYoGnWbdW6DqzW780ikgW3XhWqiaGI6FR9zL3N2HaaJhxJc
qBLiKv3OHeQIkv2RadA1GYgqiKkzcvdk/wlyROmBFRXFXnDE2Pm3jELjHVER8S+Chp9p7iJGKFpO
yxwF0l9BLJSBWFwymQM4sec4+ERPnoQhXgFL/CJCCX7JbGAfrPJxP+lx2dKj63Eoy6s6ubYiRWlZ
JLPA5/180vsHdWlPRxRR/1gAAAAASUVORK5CYIIAAAAAAA==


--Apple-Mail=_B729D2E3-B24D-4C60-A868-8E48A4C75420
Content-Transfer-Encoding: base64
Content-Disposition: inline;
	filename=image003.png
Content-Type: image/webp;
	name="image003.png"
Content-Id: <3F9A2D8E-5ABF-4558-9933-37E6609E28A7>

iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAACXBIWXMAABYlAAAWJQFJUiTwAAAA
AXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAASpSURBVHgBxVhdaBxVFD53ZoO1D5u1raiYhimh
kFbb7KaQRCl08xL/QGJFhTbQLW5BQk0rEY2CpHmL4E+TFh+aSHcxCK2oVVCxPmQLgtWHdjVgA6U4
aSsqlrJWaCnJ7u357s5sdrMzuzObn36wO3fuz9xvzvnuOfeOIJ84aMSM2Rx1ayRbSFJUEoUo/wMy
XGeSIFMKcaZOo1OHzYRJPiC8dnx1fSwmSe7hYpT8QFJaCDFy5Eoi4aV7VUL7jVhUZOVxtoRBiwBP
ZPL/UDViroTYNaFsTg5KSQdpCcETHtZ1McSuzLi0O5Ix5ubkl9wapmUArMWkOp30JZzIZLNycrEu
qpWUWEAmxGTOLzeZAljwgYAiVXCfVtyuNLNSZACWBBtgsLTKgrWsj9PdALvuqJlIoRiYry1lWoyd
g7uo4ZHGsvrvPjxFF3+adhtGaxvW0c5Du+je4Gq6fuUafT70Kd26cbOsH8IKXzYobvjLW4dibg/+
59Jf9PRr3fRA00NqEvu38bFmmjp9znGS1Uyi/6t3yIg0KTdMvD5O///7n9sUofb6yMwvN9JppSEp
5AGqgOtXr9FE/3ih/Majvept1zCp3e/FHcfEx/tUO3Bs36iyUCVYWYB0LPNcjoapCmAlvPWm6Baq
u6dOuQv3255tV9cLZ6YKfeFi1ANfMPHfvj9HHmA8viaS1LcFwzE26ZNeRmDSjR3NajK4KfXxaVUG
yT9/v6xIP8Wu7ep9RvUH6R8++oa8IktiRm8PtrzJ5Wavgy6enaaWJ1ppM5OAfn6cmKSOF7bTVq4L
sOWgNZvMt/zzA02Iv/W2UHiAyw96HQTLwBrbezoVKVgJuoKlIHIALjrxdpL8gj0V0tvqw9DPKj8D
QQArB1bByvt6+DOlI6O1SREefWmY5m7PUi3Q24LhqoJ2AlwHPcFKtp427dhCa9evU1qCFWvAKo0W
gTFeziDzvBU4i+9BrBZobPsM1QhoBlEY6Hk/rsggXqEufqyv0OYDGV5l4Vdofk/sGYjUvZ/0q5gE
TSEIIirbeoK+0FYcn6pC0DSvskiEi742YiDTd3KAgvfXKzIjLGKbBABSW7ta1T2sZp6/5Om5ksTP
GuewNPmATQYWscnYiRP3iENwpa0n3HvWk6CUhqMK+cC+sXyOwmTFOQr3Iy8Oqyv6CJEXPXTUd2LA
k57ART+bSWc4FkXJw8ZsNwsXyxw4yYHvQqpUHyAzy/EHrnp4c2Mh39n5r6KeBKVHZ5Lvqu0Hp37E
ue5KZJCjOl/uUmVMNMlxxwnQi5104S4ES8AOmm56EiTewvZjfsfYuOcPPvIYTp3xxlGLzBSnBTcy
NuCeng/iZW4CobH4aDkZPukeuZzckCdmYX9DLEpCTtJdAFtnr32A1O1KNpfZFozcx60dtJKQYuTo
1UQhfZWkjkCADkFctEKAq9ScRSghhPNRQBPPoSOtABldKz2TlRGySKmOy0qKvWCRMRc2OWZ7i1QE
/qWlBj8z4EIGqPo5BkckXn2DbiHBK2BxmRN7WcCpiv3II9TZTdABktLnFxGR4kmSS/bBaiHsT3pC
0g4ebbAPDE7TIetpGSFFBkkyR/RrLZ/07gCxx/1uOOmKwwAAAABJRU5ErkJgggAAAAAA


--Apple-Mail=_B729D2E3-B24D-4C60-A868-8E48A4C75420
Content-Transfer-Encoding: base64
Content-Disposition: inline;
	filename=image004.png
Content-Type: image/webp;
	name="image004.png"
Content-Id: <70EE7E83-8413-4668-A463-075B66CDEEA0>

iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAACXBIWXMAABYlAAAWJQFJUiTwAAAA
AXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAS2SURBVHgBzVhfaBRHGP9mc6H0oObQvpmELVUQ
S02TB2NboZcXSwoF+ye0lMJdaX3LXxTqS3ukD6UtFBMVX2rxAlpoSzEvNVQKd4JF64NebEsDp3hq
fFM5I0TE5MbvN7uz2dztzl7iBfxBcrMz38z89pvv36ygFWLYTtuPKrTbItlBkpKSKEHOH1DmvhIJ
KkkhzjRbNDlWypZoBRD1Cg60pdOSZIqbSVoJJBWEEOOHbmaz9YhHEuq300mxKI+xJmx6AvBGJf4/
GkUslBAfTWKxIjNS0jA1ELzhWFOTGOWjLIeMB5KxFxbkSR59hdYA0BaT6gmyLxFEZnFR5p70iFZL
SlSRSTCZS2tNxgMbfCymSHnHF/OPK5upk8ymV7fQ5h1bqPWldnp2XdzrL56boeL5GbrCv5Fgk2AF
ZLg1stTlwnXrY1FrgMhbI7sVGRPuzt6mUwcm6e9fz1Ik+OgOl7J51dR93S0dJ2kpwNUgzlp4e38f
ffh1ija0Pr9sbIo3vnz6Im1Nvuz1QWvb3uxS8/4/8w+ZIDjAXpibHvcIOdqhtGnS3skv1AYP5ubp
zyO/q6NqfqZZkYEmSpeuKrnNrEFoJ//jadW2u16kbbu66K8TOdPyie6WzusX5goFC09SyCGT9LuZ
j2gjE8BG4x98Q3f4FxrQx6IBEiC8njUIO/q290slA/Lv8RomuFmALLg5P4XGm+6+ndTz6S61Ecjc
+u+G0hSQYwJ+QEb3Yd4sy/6w56DqT/Ia0JgBSXCxkChNUjBgAEdz9+Zt1dYGXQzwpCvnZ5bJgJQm
2Tts3IrARfS3pWDMgZLwqKGf91MjcZC1XAwJCZyEsxY7vh02Ocq1V4NNpjWlTCIw2mHjMEYAdnD5
j4uqDdv4+PvP1DP6g7Dn6KDyrON7j3pxSM9r3dpOoXzY27jOCo89OgLDKKvx4P582DSav1c7Bs9U
a7bEyYCERU8ZYEPlsEGtmfVVkTkK8ZZazcbXxeuZWhYDbalrYQm1l11eu32jgEA65QumyyCoYKEY
D5usY0ojYVpTSnE9xtopcMpPBQmoUoL/EGH9b/bdv0eUwWde3+cFSw145udTX6mUkXltn+rTmkZf
0VSWCMpbuKqQAVNjzjDSx4Y2x5aK7lt2v7+zRn6726c3RmWgj/3UAeNWBC6WW0Lmw4SwMJImNDLI
URukdGzZ0VdLqMPNcyhHoK3BX5xIjzWMtRHbD7hYTltMkAF4M+QkeBuOYyMHN53VkTQ1cDTowxhk
8AJ4RkL+bfQn0xZcE4lxh4uLgXb2NmkuX1FC+AloYDNoMMgjoRm8UFBw9cjwTffQjYkX0PYqxu3P
dU4zvTQZgMpP1zf+OhqVYnVpATs7wanj7PEcLTx8ZFoWJzSC4sxp+9Dfmh6jiGJNAwSQKP1EoAUc
D8gUz9UZMvioDs9mh5fI+YBr0EJF5kwFWyOBo2qyRKf/GrQsl2EgZol3IEhrDJdMT/WVuia5wvUg
uKak2MVdMqXqocBs75LqJNcVGwpeMxZCBoj8HIMrEht6JiokRAEalxXxCRtw3ihHdULd3QQNcQZc
ocGLPG8y0bAPVtXQn/T4tvmGU49L26s6ubbiiFtGkqwQTa/mk95jNuYaseXsDQ0AAAAASUVORK5C
YIIAAAAAAA==


--Apple-Mail=_B729D2E3-B24D-4C60-A868-8E48A4C75420
Content-Transfer-Encoding: base64
Content-Disposition: inline;
	filename=image005.png
Content-Type: image/webp;
	name="image005.png"
Content-Id: <534B62C0-A0A7-4CDD-A057-95309AF75A5B>

iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAACXBIWXMAABYlAAAWJQFJUiTwAAAA
AXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAMjSURBVHgBxZg9TFNRFMf/5/U5yKBV3PjIYyAx
mog4GHShLBo3dXShRt34SnRwsrLpBsKGCW3ipIOuulATE6MDVhKNiSY8C25iKgMO0l7PuX2vobXt
fe0r7S+BXvrOe+/POefec+4lNMiME3f+FnDZghqCQkwBURR/hBx/54LgKqLXByy8mHOTLhqAghpO
9sXjCmqchzE0gkKGiOYXNpLJIOZGQRNOPEZ5tcyecBACfpHLv2dNwmoK4tBE8wWVUAozaCH8wrlI
hGY5lLka16uKcXZ31XO+ehr7gHiLRY1Vyy+qJiafVythQ9SsKKoQE2UxH/ZbTAlOeNvWokrhs/Ze
1znTLjECpwQ7IFH+lYc3rZfRCTh0i24yLcM9HipX2k5kWfHHWlDRO20MVQXybtEAX5AiNY0O41UB
kF5z8mo9yE09J/vRc6Jfj7t7j9W1/bO9g63Nn/rz29svCIIdoQFbCmWQgjb19C4GR46jGTY/ZfHw
0j2jnS7apNSoyfDUxTNNixF62bOD58z3c/4MWTzxHZOhH6YwBHqGUjFJasdkd7ROvjy5/Rhrr1YR
5hklPdxXcZ9Vaq6a4hcn7tLNR1qYjGvRdbgLAYhaaBHvnr1B4vwd/RkGm3MoF9ZLgiTu1cS1UMnP
5GxSyCk0L+jgoS4tZOzGhbp2O793YIR7cVuacc5up55dvdy4tTSFIMgCaUIp+m6xdzImw3qCgvLj
c9ZsREhbslUx2a29XA0lSu6VZ5gQLbpqTPSNryDA9kZWbFlPJG+E7r7qa8vWRlG8hEnEfOVaZgwZ
IbOYTQ3bxTGluNrGYCDIf9kspGi+qMVjsn98nbc8DjoA8exayKYGZFxaGFWBrqNTKJr1hxF/8H47
4549NHyEfTaCdsKhWtxMPvD/LCsdto37klxoExIq/c49lAmS/ZFt0RUxRBvERKzyPdl/gjxR2nBf
RXEUPDFu5aWq1d4TNQxvKrYUfqZdQ4xgbKf19oT0KYiDEIjHZSZzAqfr2iEgeu9GmOYK2OCJCKX5
JamWHVhV4h/pcdsyWuzHuVPw+ynurXjFzUmRLAAfmznS+welgT8UOF+poAAAAABJRU5ErkJgggAA
AAAA


--Apple-Mail=_B729D2E3-B24D-4C60-A868-8E48A4C75420
Content-Transfer-Encoding: base64
Content-Disposition: inline;
	filename=image006.png
Content-Type: image/webp;
	name="image006.png"
Content-Id: <FA29D756-3B30-4010-AF7B-406134084DAA>

iVBORw0KGgoAAAANSUhEUgAAABwAAAAaCAYAAACkVDyJAAAACXBIWXMAABYlAAAWJQFJUiTwAAAA
AXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGMSURBVHgB7VbLbYNAEB2Q7WtcgtOBS3A6IDfb
HAIV2KnATgUhFZgDvyOpIHSQlEAJ5AhIkDfKEuEIa8MnViL5SWhmdmf3sbuzs6NQDYZhzPI837Ba
luWUBoCiKNF4PDZt247ZHtXJsix7gTpjJ8gYUgMxd4fUDVOM17CIA/SbI0I07pgMDvee51nctl6v
Fyxhm9QRuq6/Ys5FZau1Po1X5vu+RcMiqRtfhEOdmQwqnRmjNs4isAyZ32Qysauo7EWIwNIgdjI/
/BQfz7Y3oeu61nK5lF6RIAjiU32tCGWT/QR/PmjmOJ+NzA9X7Bn3OexNmKbpAsnBkPnB551OpMNW
hCIL9cpEZz/DC+H/J/wepVM8ugbkjA2EN7/Y/BDvqQMw/ko8vnEjITrnEIeaXanShN0EMT7Gd9tI
KPBQFIVNPcH1EL5HVVVNx3HeGgm5xMCLsKcBgGNImtrVGlnCW4p8+aulhlIpq9Vqy1tAn3seUU9g
Lq4AOfdGkCEqv6cjQoaIxjsSUTogYhBes/IBiB+f3W7ZmeMAAAAASUVORK5CYIIAAAAAAA==


--Apple-Mail=_B729D2E3-B24D-4C60-A868-8E48A4C75420
Content-Transfer-Encoding: base64
Content-Disposition: inline;
	filename=image007.png
Content-Type: image/webp;
	name="image007.png"
Content-Id: <5854990F-D233-409D-8504-C424D24FE33A>

iVBORw0KGgoAAAANSUhEUgAAABwAAAAaCAYAAACkVDyJAAAACXBIWXMAABYlAAAWJQFJUiTwAAAA
AXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAALASURBVHgBvVZNbtpAFB4MidRVfQRnHUVY4gAl
J0iy40/COUHKCQonAFZd1pH429VddlVygrpwgExuQDeo4rffB+PIuONgiJpPGjx+M+99b96893BK
xMBxHHM+n39dr9d5cQBSqZR7cnJSc113olvPxCmCrKnIPIyJSAYTOs5sNnvCvH4QIWDB22G3270R
B6BUKj1C70PceqZSqdzBq2vNmo3hiyMAe3a5XP6hkQ8z+Kmrl2jYTHhqiiMAPdqzIjLaskjIidvr
9W7DG+hhVOkA+LB3GRYUi0UXpFUjTmO1Wj2JI8CTwFEZt25gwyRGkXJLHAgVsd8ae+/xmPCEEi+2
ZoPks1AoWCIhkKG2IpUae8wJaSB0v3hXLHQdYSaTsUVCGIaxsZFOp//JbtY0hs+QDvFuLhaLHcMg
olwsl0tLJASczyvdHUKUXl5NH4zT01OP9wX2T+FNqjVJeH0lEoIFj+FH2xpsV/GYkMvgIgRtHjnk
SYBvLOJouHXgniBsEbnFdoepR65NWYC5xVMiJM2wcZyOfdREb7zeRxjsgc59RM6OI2G7sVnnjzpl
DVObTTvY3Ol0hnSEBbuPUO2R1AlkaB5fxLa0GoPBQFKWDhbH47F/cXGRwvQjnnYul/vu+/4fzN8x
Mtls9mE0GkkdGcrBoR5GjXYYpfPz888qlA10ndazYxrlOh5MICZMjdmKsPzkGkJ/iWjI8H7ekQqb
gOEz5gHC93wyyOo7kRDxHpOUf1GuKmQq+op0oshMRWZjH6/kiomj8uG23+97UdtaQoIdBop1zf1J
jBsWeegkW2Pb8mpPp9OW53n6lin2gMQw7mBaFfG9VWLcv0SUmDAM1SsdjDslauOUrSAD/xv4GaH7
R08CQxyBoLG/GeFr8OIdqrRvapbyGGyBO2nPLMVXXk28gpBF/SgSgoT4CD6L+wgm/gKU63A0KLB7
8wAAAABJRU5ErkJgggAAAAAA


--Apple-Mail=_B729D2E3-B24D-4C60-A868-8E48A4C75420
Content-Transfer-Encoding: base64
Content-Disposition: inline;
	filename=image008.png
Content-Type: image/webp;
	name="image008.png"
Content-Id: <8628AD12-0484-410A-8962-4A3416E20695>

iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAA
AXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAItSURBVHgBxVbbUcJAFL2A8I0dhApMB0IH8Y/X
jLEC7QBTgVoBcYbXn1iB6UA6MFYgX3zADHiO3jgqkexiRs/MZndvNvfmvlfEAO12+67T6TyIIUzO
H4gZ3M1mIxbIPF+Uf0Ihjdjtduvr9fq0UCg43OPv65jm2M/EACnn43K5HIRhGP8ouNVqefjgLvlA
8oHDR7FYbAwGg4jrLR/jZY/+gca1yWQSSw5oNptOqVR6BN8ettGbnO+H8NKFxlFeQgnlNVMXSKrg
v0JqOvHPkItPki+qmYJh6rnkF1gJ3EzBwGw4HDYkR2glq2cJzoTv+85qterDLdVKpdJAjs5tvt87
uCC0p1HqLpfLC7HEXoKpLYT68h4HHOegVW14GJsaUe5jOsZwoa2j5EDnPmhP8CNzlSa/H41GofxW
MLWBOfu6jcE8wngej8chCSizLDpHoDnyXh49jHAXTyNTM3DA+Fa3MwTTGYR++JVrNIETLJMAu8ni
aexjpJevDD1o/6XJq0VIY64GMHNmsFkFlzKMof0XulrEYRvEmUsTXvvksYMRsWdrt2GlC7CO1cdG
sNIYkZ2UPRdt84F5zMG1/lCVLdCEl5VgBFWsdZwIFovFIfs2hN+ygn16lwkrU9OXnufVuJ5Op4kQ
zj7oF9/oO7F19UEReOENBNrVbOvvT9Cof+Qawff241saw3QBTHbFg/BpJDkAVY0FhSU1qXTpt0wI
vMR0KnpJywGM+BsUmuuE8Ap7DxmZxrbdwAAAAABJRU5ErkJgggAA


--Apple-Mail=_B729D2E3-B24D-4C60-A868-8E48A4C75420
Content-Transfer-Encoding: base64
Content-Disposition: inline;
	filename=image009.png
Content-Type: image/webp;
	name="image009.png"
Content-Id: <E17BC96C-79E5-4A6F-B474-C15A7D29FF38>

iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAAylpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDkuMS1jMDAyIDc5LmE2
YTYzOTY4YSwgMjAyNC8wMy8wNi0xMTo1MjowNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRm
PSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNj
cmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFw
LzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUv
UmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHht
cE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RDdFREVDN0U0RDkzMTFFRjhBRTZFRUE2QUQwMjhDQ0Ei
IHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RDdFREVDN0Q0RDkzMTFFRjhBRTZFRUE2QUQwMjhD
Q0EiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIDI1LjExIChNYWNpbnRvc2gpIj4g
PHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RDdFREVDNzk0RDkz
MTFFRjhBRTZFRUE2QUQwMjhDQ0EiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RDdFREVDN0E0
RDkzMTFFRjhBRTZFRUE2QUQwMjhDQ0EiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4g
PC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz54tXGdAAAFJ0lEQVR42ryYeWxUVRTG73uz
L22nM6W0QxeMFiNEBS2tlJQYqVgB2zS1ypLQaAISS7Uu5Q/LIjEgGINKIiStW9TiwmIslM1oayxq
Wy0iBrsIAm2A0k2YaWem8948v6t3yFhm3rwZWk/yS5PJubffu/fcc8693JrUUhKFxYAlYD64G9iB
ATjAn6ANHAAHgRTJxOoIfI1gNlgG5gILMAM90AAOxIHp4BawAKwDx8Bn4DTwjZegAvAseCCMn4qt
FMUK0kEWqAIfgrdBq9wEfJh/QLfiA7BfgRg5o6tHY+MQ2MBWNGJB94Gv2EQqMj6WADaBPSA5EkF0
//exeJgIK2TzT1UiKIvtt51MrM0Bu8FkOUF2JmYy+X+MitoRGBKBgrRgG7g9yECaSySO4ySP001E
QfT/7pPhhvEhRD0Gngom6CFQLPc5Lqfr0oNli1YlpCaUe0Y854RRgZdhUPQK24kglEBLd5iVWg9S
AvMQzRuV7G+oY0u8Hm/ntNwZNQ9XFJJfj7btrdu6Z6nObBzmVKQda+6RJML7fCRDEMUptinWg6U7
Vp+i494s3ryq/0J/mkoT8rAmgWfAWr8gmoFzwycTTut2uuPMttirOcvuvwzeCOL2ww0nR62G2LAV
ZAV43b9lyxWFoOhzEJ/kjTRysXVaBW6JtCLwrP7MDec9POQczSyes2vWwsyRSAVZU2xbsLweBdk8
h2dRHi/nKfkkYoo3n8t8JPuQ1qiL+Gw/sbPsOM5YowLX23jWQphklxzHfFJ6Yl/24/O80SQbn1cU
OIn8psDVTgXdw1qIcKa5mdIqcYrqYQIVlMaSYuj5eI44Bhz2sz93GaLRo4s1aCEoQ4GriQrS+fNM
yCZHrSJ953ttDTXHcqIRVL9l71ROkuYpaRipIKeSTs4cH2Noq2uubPqokY9EjNvpIi1fHH+R4/gY
Be6jqqy4mSXslMnFiJPjeadEpDtPHmhJ1xp0Z3R63ZXYJIvs7D9+3pSyb2Pt+osdPeUavZJURIZo
pv6J9SWh40MiA7yPrCEcV0CMmpW1le/mpdyR9vW03Omtj25a/p7JGuPyu/7R3Gn6pvrwAp7jcptq
G+cb4gx36c0GoiBTU+tXs9tBvmwu4kiKTxCftCRYV4wIrlTXX8P5PR3dpR0nf49f+HxRDQRdd3X0
Drm/391YqNKoS2Mmxf77PZLii0c3FXQYXAapcnHt8XqLEmfYS2bm37ukq7m9CluQJIniO8Y442ig
46yCbDGvbPGJhuoj0dyv2qkgARxlBTak6U168kt962Zx1NtTsb9qrWwiFH3XWP/DRVLyQIO/2n8K
XpJr+umym6zm5NPfnqpbN7uiW61Rq7BC2577ckO1JSk+0ttMMDtDd8svqAN8Eq7qU1E6k14/2NOf
QcNCEgQLysJ4tbNv0Szh/xKB/dAX4pRdoQ0jy1ciAlZUa9UEuFRadZDMznvZFkhsjAd7d1VGzAnw
8T9jx9ztXwYbgwzwsO6SH9MuDFqSrddUqv/ukHPQYUYjZ0PJ4QL6aV+ImzIVvhgcCXaV3goywaKx
5ShUqzNw4Yp17KlWoQBglQKFczJx9YpfTLDgc4OVoEXpxmP7CNu+6wSICWfvg1fDnYZLYCn4boLv
ZDVgNa1fSo7nWVDCTt54m5s9ODw9Vky4fNHLbgJl4OI4iaFPMUUsboRonmPooJ20+QbbWYmJ1Ogc
XaAc5AUG8M08WJ0HL4DX2OMVFXgrewuwsZ6ctqhe9qzXz8Z0Atrc17PUEdb+FmAARA+pvib9sggA
AAAASUVORK5CYII=
--Apple-Mail=_B729D2E3-B24D-4C60-A868-8E48A4C75420--
